@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
    /* -------------HEADER-------------- */

 }

@media screen and (max-width: 767px) {
  /* -------------HEADER-------------- */
    .navigation-item {
    margin-top: 24px;

    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.1em;

    color: var(--headline-color);
  }
  .navigation-item:first-child {
    color: var(--contrast-color);
    margin-top: 0;
  }
  /* ---------------HERO--------------- */
  .hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 208px;
  padding-bottom: 209px;
  }
}
