:root {
  --header-color: #ffffff;
  --contrast-color: #ff6c00;
  --headline-color: #303030;
  --headline-on-dark-color: #ffffff;
  --after-title-color: #9da4bd;
  --text-color: #555555;
  --text-on-dark-color: rgba(157, 164, 189, 0.6);
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
.visually-hidden,
.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;  
}
.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}
.pre-title {
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  min-width: 160px;
  min-height: 40px;
  border: 1px solid var(--contrast-color);
  border-radius: 25px;
}
.no-scroll {
  overflow: hidden;
}

/* --------HEADER--------- */

.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-icon {
  fill: #ffffff;
}
.navigation-list,
.header-btn,
.header-tel {
  display: none;
}
.mobile-menu-btn,
.menu-box-close-btn {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.mobile-menu-icon {
  margin: auto;
}
.mobile-menu-box {
  position: absolute;
  top: 0;
 right: 0;

  padding: 118px 30px 40px 40px;

  width: 70%;
  height: 100vh;
  background-color: #ffffff;
   }
 .menu-box-close-btn {
  position: absolute;
  top: 48px;
  left: 67%;
}
.menu-box-navigation-list {
  margin-bottom: 64px;
}

.navigation-item > .link {
  transition: color 250ms;
}
.navigation-item > .link:hover,
.navigation-item > .link:focus {
  color: var(--contrast-color);
}

.menu-box-tel {
  display: block;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--headline-color);
}
.menu-box-tel:hover,
.menu-box-tel:focus {
  color: var(--contrast-color);
}
.menu-box-btn {
  margin-bottom: 64px;
  transition: color 250ms, backgroundcolor 250ms;
}
.menu-box-btn:hover,
.menu-box-btn:focus {
  color: var(--header-color);
  background-color: var(--contrast-color);
}
.menu-box-instatube-list {
  margin-left: 80px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--headline-color);
}
.menu-box-instatube-item > .link {
  transition: color 250ms;
}
.menu-box-instatube-item > .link:hover,
.menu-box-instatube-item > .link:focus {
  color: var(--contrast-color);
}
.menu-box-instatube-item:first-child {
  position: relative;
  margin-bottom: 24px;
}
.menu-box-instatube-item:first-child::before {
  position: absolute;
  top: 10px;
  left: -80px;

  display: block;
  content: "";
  width: 40px;
  height: 1px;

  background-color: var(--headline-color);
}

/* ------------HERO------------- */
.hero {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/hero/mob-hero-480_580.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero/mob-hero-960_1160.jpg");
  }
}
.hero-instatube-list,
.hero-slide-controls-list {
  display: none;
}
.hero-main-title {
  display: flex;
  gap: 20px;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--text-on-dark-color);

  margin-bottom: 20px;
}
.hero-main-title::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: var(--text-on-dark-color);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--headline-on-dark-color);

  margin-bottom: 20px;
}
.hero-after-title {
  color: var(--after-title-color);
}
/* --------ABOUT US----------- */
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about > .container {
  display: flex;
  gap: 30px;
}
.container > img {
  min-width: 270px;
}
.about-wrap {
  padding-right: 100px;
}
.about-pre-title {
  color: var(--headline-color);

  margin-bottom: 20px;
}
.about-title {
  color: var(--headline-color);

  margin-bottom: 20px;
}
.about-after-title {
  color: var(--text-color);

  margin-bottom: 20px;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--text-color);

  margin-bottom: 42px;
}
.about-btn {
  color: var(--headline-color);
}

.about-btn:hover,
.about-btn:focus {
  background-color: var(--contrast-color);
  color: var(--headline-on-dark-color);
  cursor: pointer;
}

/* ------PRICES-------- */
.prices {
  background-color: gray;
  padding-top: 120px;
  padding-bottom: 120px;
}
.prices-pre-title {
  color: var(--text-on-dark-color);

  margin-bottom: 20px;
}
.prices-title {
  color: var(--headline-on-dark-color);

  margin-bottom: 44px;
}
.prices-wrap {
  display: flex;
  padding: 30px 22px 30px 20px;
  gap: 50px;
}
.prices-list {
  min-width: 570px;
}
.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.prices-text {
  color: var(--after-title-color);
}
.prices-btn {
  color: var(--headline-on-dark-color);

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prices-btn:hover,
.prices-btn:focus {
  background-color: var(--contrast-color);
  color: var(--headline-on-dark-color);
  cursor: pointer;
}

/* ---------WHY WE?-------- */

.why {
  padding-top: 120px;
  padding-bottom: 120px;
}
.why > .container {
  display: flex;
  gap: 30px;
}
.why-wrap {
  padding-right: 70px;
  padding-top: 9px;
}
.why-list {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.why-item {
  min-width: 170px;
  /* height: 133px; */
}
.why-item:nth-child(2n) {
  margin-top: 25px;
}

.why-digit {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--headline-color);

  display: block;
  margin-bottom: 6px;
}

.why-text {
  font-size: 11px;
  line-height: 15px;
  text-align: center;

  color: var(--headline-color);

  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
}
.why-pre-title {
  color: var(--headline-color);

  margin-bottom: 20px;
}
.why-title {
  color: var(--headline-color);

  margin-bottom: 20px;
}
.why-after-title {
  color: var(--text-color);
}

/* ---------OUR BARBERS----------- */
.barbers {
  margin-top: 120px;
  margin-bottom: 120px;
}
.barbers-pre-title {
  color: var(--headline-color);

  margin-bottom: 20px;
}
.barbers-title {
  color: var(--headline-color);

  margin-bottom: 44px;
}
.barbers-card-list {
  display: flex;
  gap: 30px;
}
.barbers-card {
  max-width: calc((100% - 60px) / 3);
}
.barbers-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--headline-color);

  padding-top: 30px;
  padding-bottom: 8px;
}
.barbers-card-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--contrast-color);
}
.barbers-socials-list {
  display: flex;
}
.barbers-socials-item {
}

/* --------OUR WORKS--------- */
.works {
  padding-top: 120px;
  padding-bottom: 120px;
}
.works-pre-title {
  color: var(--headline-color);

  margin-bottom: 44px;
}
.works-list {
  display: flex;
  gap: 30px;
}
.works-item {
  max-width: calc((100% - 90px) / 4);
}

/* ------ONLINE-BOOKING----CONTACTS-------- */
.form-contacts {
  background-color: gray;
}
.form-contacts > .container {
  display: flex;
}
.form {
  width: calc(50% + 15px);
  padding-top: 130px;
  padding-bottom: 120px;
}
.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 120px;
}
.form-title {
  color: var(--headline-on-dark-color);
}
.contacts {
  padding-left: 100px;
}
.contacts-title {
  color: var(--headline-on-dark-color);

  margin-bottom: 40px;
}
.contacts-address {
  margin-bottom: 70px;
}
.contacts-list {
}
.contacts-link {
  color: var(--after-title-color);
}
.contacts-item [rel] {
  font-weight: 700;
}
.mail {
  text-decoration: underline;
}
.contacts-item:not(:last-child) {
  padding-bottom: 20px;
}

.contacts-text {
  color: var(--headline-on-dark-color);

  margin-bottom: 20px;
}
.contacts-workingtime {
  color: var(--after-title-color);
}

/* --------FOOTER--------- */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--after-title-color);
}
.footer-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.footer-item .link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--headline-color);
}
